.icon_wrapper {
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
  flex-direction: row;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-auto-columns: auto;
  grid-auto-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.icon_link {
  background-color: var(--base-color--white);
  border-radius: 0.38rem;
  flex: none;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  transition: color 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  display: flex;
  overflow: hidden;
}

.icon_link:hover {
  color: #fff;
}
