.hero_content {
  background-color: #fbf9f7;
  align-items: center;
  width: 100%;
  padding-top: 7.94rem;
  padding-bottom: 7.94rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero_section {
  display: flex;
  position: relative;
}

.hero_illu {
  width: 50%;
  position: absolute;
  inset: 0% 0% 0% auto;
  overflow: hidden;
}

.hero_text-wrap {
  z-index: 2;
  grid-row-gap: 2rem;
  flex-flow: column;
  max-width: 35.25rem;
  display: flex;
  position: relative;
}

.hero_content-block {
  grid-row-gap: 16px;
  flex-direction: column;
  display: flex;
}

.hero_eyebrow {
  opacity: 0.75;
  color: #1d1e21;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.5;
}

.hero_heading {
  letter-spacing: -0.03rem;
  font-size: 2.75rem;
  line-height: 1.1;
}

.hero_description {
  opacity: 0.75;
  max-width: 30.88rem;
}

.hero_bg {
  pointer-events: none;
  width: 50%;
  position: absolute;
  inset: 0% auto 0% 0%;
  overflow: hidden;
}

.hero_button {
  grid-column-gap: var(--size--24px);
  grid-row-gap: var(--size--24px);
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.hero2_section {
  z-index: 1;
  color: var(--base-color--white);
  background-image: linear-gradient(#160b0b, #393030);
  padding-top: 7.25rem;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero2_content {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.hero2_text-wrap {
  z-index: 2;
  grid-row-gap: 2rem;
  text-align: center;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 45.5rem;
  margin-bottom: 2.75rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  position: relative;
}

.hero2_content-block {
  grid-row-gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hero2_eyebrow {
  opacity: 0.75;
  text-transform: uppercase;
  font-size: 0.75rem;
  line-height: 1.5;
}

.hero_logo {
  max-width: 100rem;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  inset: auto 0% 0%;
}

.hero_shapes {
  z-index: -1;
  pointer-events: none;
  min-width: 187.5rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
}

.hero2_illu {
  aspect-ratio: 834 / 524;
  border-top-style: solid;
  border-top-width: 0.19rem;
  border-top-color: var(--base-color--white);
  border-right-style: solid;
  border-right-width: 0.19rem;
  border-right-color: var(--base-color--white);
  border-bottom-style: solid;
  border-bottom-width: 0.19rem;
  border-bottom-color: var(--base-color--white);
  border-left-style: solid;
  border-left-width: 0.19rem;
  border-left-color: var(--base-color--white);
  background-color: #f6f6f6;
  border-radius: 0.88rem;
  position: relative;
  overflow: hidden;
  box-shadow: 0 27.5px 52.25px 7.333px #00000014;
}

.hero2_illu-tag {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  max-width: 18.31rem;
  color: var(--base-color--light-black);
  border: 1px solid #fff6;
  border-radius: 1rem;
  padding: 0.88rem 1rem 0.88rem 0.88rem;
  position: absolute;
  box-shadow:
    0 1px 2px #1d1e210d,
    0 30px 60px #1d1e2114;
}

.hero2_illu-tag.is-1 {
  bottom: 26%;
  left: -16%;
}

.hero2_illu-tag.is-2 {
  top: 13%;
  right: -26%;
}

.hero2_illu-tag.is-3 {
  top: 60%;
  right: -17%;
}

.hero2_illu-wrap {
  max-width: 52.13rem;
  margin-bottom: -3rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

@media screen and (max-width: 991px) {
  .hero_content {
    text-align: center;
  }

  .hero_section {
    flex-flow: column;
  }

  .hero_illu {
    order: -9999;
    width: 100%;
    position: static;
  }

  .hero_text-wrap {
    max-width: none;
  }

  .hero_content-block {
    justify-content: center;
    align-items: center;
  }

  .hero_bg {
    width: 100%;
  }

  .hero_button {
    justify-content: center;
    align-items: center;
  }

  .hero2_section {
    flex-flow: column;
    padding-top: 10rem;
  }

  .hero2_content {
    text-align: center;
  }

  .hero2_text-wrap {
    max-width: none;
  }

  .hero2_content-block {
    justify-content: center;
    align-items: center;
  }

  .hero2_illu-tag {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .hero_content {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .hero_heading {
    font-size: 2rem;
  }

  .hero2_content {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }
}

@media screen and (max-width: 479px) {
  .hero2_section {
    padding-top: 8rem;
  }
}
