* {
  box-sizing: border-box;
}

html {
  overscroll-behavior: none;
}

/* Make text look crisper and more legible in all browsers */
body {
  background-color: var(--color-white);
  color: var(--color-light-black);
  overscroll-behavior: none;
  font-family: Inter, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
  outline: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.noise {
  @apply pointer-events-none absolute inset-0 -z-1 opacity-10;
  background-image: url("/images/noise_1noise.avif");
  background-position: 0 0;
  background-size: auto;
}

.page-wrapper {
  @apply h-full w-full;
}

.main-wrapper {
  overflow: clip;
}

.container-medium {
  @apply relative z-1 mx-auto overflow-visible;
  width: calc(min(100%, 78.5rem) - 2rem);
}

/* Queried by class in scripts/menu.js (document.querySelector(".menu")). */
.menu {
  z-index: 10000;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-end;
  align-items: stretch;
  height: 100dvh;
  display: none;
  position: fixed;
  inset: 0%;
}

.image-fit-cover {
  @apply h-full w-full object-cover;
}
