:root {
  --base-color--white: white;
  --base-color--light-black: #1d1e21;
  --size--28px: 1.75rem;
  --base-color--black: black;
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --base-color--light-olive: #c2c2a8;
  --size--8px: 0.5rem;
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --link-color--link-primary: var(--base-color-brand--blue);
  --size--24px: 1.5rem;
  --base-color--grey: #f6f6f8;
  --background-color--background-tertiary: var(--base-color-brand--pink);
  --size--6px: 0.375rem;
  --size--20px: 1.25rem;
  --size--16px: 1rem;
  --background-color--background-warning: var(--base-color--grey);
  --text-color--text-warning: var(--base-color--light-olive);
  --base-color--dark-olive: #808d6e;
  --size--14px: 0.875rem;
  --base-color--orange: #f55326;
  --base-color--green: #22ad01;
  --base-color--sage: #ccd9d0;
  --base-color--beige: #fbf9f7;
  --base-color--beige-dark: #f4f2f0;
  --size--10px: 0.625rem;
  --size--2px: 0.125rem;
  --size--4px: 0.25rem;
  --size--12px: 0.75rem;
  --size--18px: 1.125rem;
  --size--26px: 1.625rem;
  --size--30px: 1.875rem;
  --size--32px: 2rem;
  --base-color-neutral--neutral-lightest: #eee;
  --base-color-neutral--neutral-darker: #222;
  --base-color-brand--blue: #2d62ff;
  --base-color-brand--pink: #dd23bb;
}
