:root {
  --base-color--white: white;
  --base-color--light-black: #1d1e21;
  --base-color--black: black;
  --border-color--border-primary: var(--base-color-neutral--neutral-lightest);
  --base-color--light-olive: #c2c2a8;
  --text-color--text-secondary: var(--base-color-neutral--neutral-darker);
  --link-color--link-primary: var(--base-color-brand--blue);
  --base-color--grey: #f6f6f8;
  --base-color--beige: #fbf9f7;
  --base-color--sage: #ccd9d0;
  --base-color--beige-dark: #f4f2f0;
  --base-color--green: #22ad01;
}
